<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Toy Store</title>
</head>
<body>
    <div class="banner">
        <img src="image/Banner_Toy.jpg" alt="Toy" class="banner-img">
    </div>
    <header class="header">
        <div class="header-item">
            <a href="#Home" class="header-link">Home</a>
            </div>
        <div class="header-item">
            <a href="/login" class="header-link">Manager Product</a>
            </div>
        <div class="header-item">
            <a href="#About" class="header-link">About Us</a>
            </div>
        <div class="header-item">
           <a href="#Map" class="header-link">Map</a>
           </div>
        <div class="header-item">
            <a href="#Contact" class="header-link">Contact</a>
        </div>
    </header>
    <div id="Home">
        <div class="home-introduce">
            <div class="title">Welcome to our store</div>
            <p class="introduce">
                Create your own world with toys 
            </p>
            <p class="description">
                Come to us, we will help you create your world with our products       
            </p>
        </div>
    </div>
    <div id="About">
        <div class="About-content">
            <div class="title">
                About Us
            </div>
            <div class="About-description">
                Our store specializes in providing genuine toy products. 
                All of our products are imported from countries such as the US, Germany, Canada,... 
                All products have been granted certificates of circulation and are safe for health. 
                Therefore, we offer a three-year warranty and compensation if the product is not genuine. 
                Come join us to create your own world. A beautiful dream-like toy world. 
            </div>
            <span class="About-thanks">Thanks for reading</span>
        </div>
        <div class="About-img">
            <img src="/image/About-us.png" alt="About Us">
        </div>
    </div>
    <div id="Map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d761.6541431670297!2d105.70317344780645!3d21.09557844103886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313455e917f682e5%3A0x19572d839855ecf4!2zMTIgxJDGsOG7nW5nIFRow7p5IEjhu5lpLCBUw6JuIEjhu5lpLCDEkGFuIFBoxrDhu6NuZywgSMOgIE7hu5lpLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1624729996346!5m2!1sen!2s" 
        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div id="Contact">
        <div class="Contact-img">
            <img src="/image/Contact.png" alt="Contact us">
        </div>
        <div class="Contact-content">
            <div class="title">
                Contact Us
            </div>
            <div class="Contact-text">
                <ul>
                    <li class="contact-item">
                        Facebook : ToyStore
                    </li>
                    <li class="contact-item">
                        Email : duongnagch190636@fpt.edu.vn                        
                    </li>
                    <li class="contact-item">
                        Instagram : ToyStore                      
                    </li>
                    <li class="contact-item">
                        Phone : +084 796 598
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>